* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #ccc;
}
body{
    color:  #000000;
    background-color: #ffffff;
    max-width: 375px;
    margin: 0 auto;
}
header {
    height: 48px;
    display: flex;
    align-items:  center;
}

.header_name a {
    
    font-size: 13px;
}

.profile_head_image img {
    display: block;
    width: 100px;
    height: 140px;
    border-radius: 100%;
}

